@page
@model OtelEleon.Pages.AdminPages.Clients.TypeClientSortModel
@{
}
<div>
    <h2>Вы гражданин или иностранец?</h2>
    <a href="CreateClientNationale">Гражданин</a>
    <a href="CreateClientForeign">Иностранец</a>
</div>